<div class="header-newsline_account">
  <% if (isAuth) { %>
  <div class="header-newsline_dropdown-toggle">
    <span
      class="iconfont icon-user header-newsline_account-icon float-l"
    ></span>
    <span class="header-newsline_account-text">Account</span>
    <span>&nbsp;/&nbsp;</span>
    <a href="/auth/logout" class="btn btn-secondary">Logout</a>
  </div>
  <div class="header-newsline_dropdown-menu header-newsline_account-list">
    <a
      class="header-newsline_account-link"
      href="https://www.unice.com/customer/account/"
      title="My Account"
    >
      My Account
    </a>
    <a
      class="header-newsline_account-link"
      href="https://www.unice.com/checkout/cart/"
      title="My Cart 0 Item(s)"
    >
      My Cart 0 Item(s)
    </a>
    <a
      class="header-newsline_account-link"
      href="https://www.unice.com/wishlist/"
      title="My Wishlist"
    >
      My Wishlist
    </a>
    <a class="header-newsline_account-link" href="" title="Checkout">
      Checkouthttps://www.unice.com/firecheckout/
    </a>
    <a
      class="header-newsline_account-link"
      href="https://www.unice.com/faq/"
      title="FAQ"
    >
      FAQ
    </a>
    <a
      class="header-newsline_account-link"
      href="https://www.unice.com/customer/account/create/"
      title=" Log In"
    >
      Log In
    </a>
  </div>
  <% } else { %>
  <a class="a-hover" rel="nofollow" href="/auth/register" title="sign up">
    Sign Up
  </a>
  <span>&nbsp;/&nbsp;</span>
  <a
    class="a-hover header-newsline_login"
    rel="nofollow"
    href="/auth/login"
    title="login"
  >
    Login
  </a>
  <% } %>
</div>
