<div class="header-newsline_language">
  <a
    href="https://www.unice.com"
    title="English"
    class="header-newsline_language-item header-newsline_language-en"
  >
    English
  </a>
  <a
    href="https://fr.unice.com"
    title="Français"
    class="header-newsline_language-item header-newsline_language-fran"
  >
    Français
  </a>
</div>
