<div class="unice-title">
  <span class="unice-title_text">A Natural Extension of U.</span>
  <a class="unice-title_third-link img-block float-r" href="/auth/facebook" title="Facebook login">
    <img src="/images/facebook-register.png" alt=".." />
  </a>
  <a class="unice-title_third-link img-block float-r" href="/auth/google" title="Google login">
    <img src="/images/google-register.png" alt=".." />
  </a>
  <span class="unice-title_third float-r">SIGN IN WITH:</span>
</div>