<header class="header">
  <div class="header-newsline container clearfix">
    <div class="header-newsline_currency">
      <a
        href="javascript:;"
        class="header-newsline_dropdown-toggle header-newsline_currency-btn"
        title="Currency"
        rel="nofollow"
        >$USD</a
      >
      <span
        class="header-newsline_dropdown-toggle iconfont icon-xiangxia"
      ></span>
      <div
        class="header-newsline_dropdown-menu header-newsline_currency-list"
        style="display: none"
      >
        <a
          class="header-newsline_price-opt spirit-bg header-newsline_USD"
          href="https://www.unice.com/directory/currency/switch/currency/USD/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
          title="US Dollar"
          rel="nofollow"
        >
          USD
        </a>
        <a
          class="header-newsline_price-opt spirit-bg header-newsline_GBP"
          href="https://www.unice.com/directory/currency/switch/currency/GBP/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
          title="British Pound Sterling"
          rel="nofollow"
        >
          GBP
        </a>
        <a
          class="header-newsline_price-opt spirit-bg header-newsline_CAD"
          href="https://www.unice.com/directory/currency/switch/currency/CAD/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
          title="Canadian Dollar"
          rel="nofollow"
        >
          CAD
        </a>
        <a
          class="header-newsline_price-opt spirit-bg header-newsline_EUR"
          href="https://www.unice.com/directory/currency/switch/currency/EUR/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
          title="Euro"
          rel="nofollow"
        >
          EUR
        </a>
        <a
          class="header-newsline_price-opt spirit-bg header-newsline_AUD"
          href="https://www.unice.com/directory/currency/switch/currency/AUD/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
          title="Australian Dollar"
          rel="nofollow"
        >
          AUD
        </a>
        <a
          class="header-newsline_price-opt spirit-bg header-newsline_ZAR"
          href="https://www.unice.com/directory/currency/switch/currency/ZAR/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
          title="South African Rand"
          rel="nofollow"
        >
          ZAR
        </a>
        <a
          class="header-newsline_price-opt spirit-bg header-newsline_NGN"
          href="https://www.unice.com/directory/currency/switch/currency/NGN/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
          title="Nigerian Naira"
          rel="nofollow"
        >
          NGN
        </a>
        <a
          class="header-newsline_price-opt spirit-bg header-newsline_AED"
          href="https://www.unice.com/directory/currency/switch/currency/AED/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
          title="United Arab Emirates Dirham"
          rel="nofollow"
        >
          AED
        </a>
      </div>
    </div>

    <div class="header-newsline_free">
      <span class="header-newsline_free-tel"
        >Phone/WhatsApp No.(626) 782-4321</span
      >
      <span class="header-newsline_free-shipping">FREE SHIPPING</span>
    </div>

    <div class="header-newsline_language">
      <a
        href="https://www.unice.com"
        title="English"
        class="header-newsline_language-item header-newsline_language-en"
      >
        English
      </a>
      <a
        href="https://fr.unice.com"
        title="Français"
        class="header-newsline_language-item header-newsline_language-fran"
      >
        Français
      </a>
    </div>

    <a
      class="header-logo"
      href="https://www.unice.com/"
      title="Unice Human Hair-A Natural Extension of U"
      alt="Unice Human Hair-A Natural Extension of U"
    >
      <img
        data-retina="true"
        src="/images/unice-logo.png"
        alt="Unice Human Hair-A Natural Extension of U"
      />
    </a>

    <div class="header-newsline_right clearfix">
      <div class="header-newsline_img-link spirit-bg"></div>
      <% if (isAuth) { %>
        <a href="/logout" class="btn btn-secondary">Logout</a>
      <% } %>
      <a
        class="header-newsline_help a-hover"
        href="https://www.unice.com/faq/"
        rel="nofollow"
        target="_blank"
        >Help</a
      >

      <a
        class="a-hover"
        rel="nofollow"
        href="https://www.unice.com/customer/account/create/"
        title="sign up"
        >Sign Up</a
      >
      <span>&nbsp;/&nbsp;</span>
      <a
        class="a-hover header-newsline_login"
        rel="nofollow"
        href="https://www.unice.com/customer/account/login/"
        title="login"
        >Login</a
      >

      <div class="header-newsline_account">
        <div class="header-newsline_dropdown-toggle">
          <span
            class="iconfont icon-user header-newsline_account-icon float-l"
          ></span>
          <span class="header-newsline_account-text">Account</span>
        </div>
        <div
          class="header-newsline_dropdown-menu header-newsline_account-list"
        >
          <a
            class="header-newsline_account-link"
            href="https://www.unice.com/customer/account/"
            title="My Account"
          >
            My Account
          </a>
          <a
            class="header-newsline_account-link"
            href="https://www.unice.com/checkout/cart/"
            title="My Cart 0 Item(s)"
          >
            My Cart 0 Item(s)
          </a>
          <a
            class="header-newsline_account-link"
            href="https://www.unice.com/wishlist/"
            title="My Wishlist"
          >
            My Wishlist
          </a>
          <a
            class="header-newsline_account-link"
            href="https://www.unice.com/firecheckout/"
            title="Checkout"
          >
            Checkout
          </a>
          <a
            class="header-newsline_account-link"
            href="https://www.unice.com/faq/"
            title="FAQ"
          >
            FAQ
          </a>
          <a
            class="header-newsline_account-link"
            href="https://www.unice.com/customer/account/create/"
            title=" Log In"
          >
            Log In
          </a>
        </div>
      </div>

      <div class="header-newsline_track-order">
        <a
          href="javascript:"
          class="
            header-newsline_track-toggle header-newsline_dropdown-toggle
          "
          title="track order"
          >track order</a
        >
        <div
          class="header-newsline_dropdown-menu header-newsline_track-form"
          style="display: none"
        >
          <div class="track-order_text">
            <p>
              Want to check the status of your order? You can put in your
              order number and click search to find the tracking information
              or login your account to check the detail information.
            </p>
          </div>
          <form
            class="track-order_form"
            id="track-order-form"
            action
            method="POST"
          >
            <input
              name="form_key"
              type="hidden"
              value="<esi:include src='http://www.unice.com/turpentine/esi/getFormKey/ttl/5184000/method/esi/scope/global/access/private/' />"
            />
            <label class="a-bold">Order No.<em>*</em></label>
            <select class="track-order_selType" name="track_type">
              <option value="1">Order ID #&nbsp;</option>
              <option value="2">Shipment #</option>
            </select>
            <div>
              <label style="display: none" for="track-order_input"
                >track_num</label
              >
              <input
                class="track-order_input"
                type="text"
                id="track-order_input"
                name="track_num"
              />
            </div>
            <div class="buttons-set a-center">
              <button
                class="track-order_submit button"
                type="button"
                title="  Track Order"
              >
                Track Order
              </button>
            </div>
          </form>
          <div class="track-order_result"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar">
    <div class="navbar_item navbar_item-1">
      <a
        href="https://www.unice.com/human-hair.html"
        class="navbar_item-link"
        title="Hair Weave"
      >
        Hair Weave
      </a>
      <div class="navbar_itemContent-wrapper">
        <div class="navbar_itemContent HumanHair flex-row">
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Series"
              class="navbar_itemContentTitle"
            >
              Series
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/human-hair/icenu.html"
                class="navbar_itemContentList-icon"
                title="icenu"
              >
                <img src="/images/small-Icenu.png" alt=" icenu" />
              </a>
              <a
                href="https://www.unice.com/human-hair/banicoo.html"
                class="navbar_itemContentList-icon"
                title="banicoo"
              >
                <img src="/images/small-Banicoo.png" alt=" banicoo" />
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Type"
              class="navbar_itemContentTitle"
            >
              Type
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/human-hair/brazilian-hair.html"
                class="navbar_itemContentList-icon"
                title="Brazilian"
              >
                Brazilian
                <img src="/images/TIM_20190923180249.gif" alt=" Brazilian" />
              </a>
              <a
                href="https://www.unice.com/human-hair/peruvian-hair.html"
                class="navbar_itemContentList-icon"
                title="Peruvian"
              >
                Peruvian
                <img src="/images/TIM_20190923180249.gif" alt=" Peruvian" />
              </a>
              <a
                href="https://www.unice.com/human-hair/malaysian-hair.html"
                class="navbar_itemContentList-icon"
                title="Malaysian"
              >
                Malaysian
              </a>
              <a
                href="https://www.unice.com/human-hair/indian-hair.html"
                class="navbar_itemContentList-icon"
                title="Indian"
              >
                Indian
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Texture"
              class="navbar_itemContentTitle"
            >
              Texture
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/human-hair/curly-hair.html"
                class="navbar_itemContentList-icon"
                title="Curly"
              >
                Curly
              </a>
              <a
                href="https://www.unice.com/human-hair/body-wave.html"
                class="navbar_itemContentList-icon"
                title="Body Wave"
              >
                Body Wave
              </a>
              <a
                href="https://www.unice.com/human-hair/straight-hair.html"
                class="navbar_itemContentList-icon"
                title="Straight"
              >
                Straight
                <img src="/images/TIM_20190923180249.gif" alt=" Straight" />
              </a>
              <a
                href="https://www.unice.com/human-hair/natural-wave.html"
                class="navbar_itemContentList-icon"
                title="Natural Wave"
              >
                Natural Wave
              </a>
              <a
                href="https://www.unice.com/human-hair/deep-wave.html"
                class="navbar_itemContentList-icon"
                title="Deep Wave"
              >
                Deep Wave
              </a>
              <a
                href="https://www.unice.com/human-hair/loose-wave.html"
                class="navbar_itemContentList-icon"
                title="Loose Wave"
              >
                Loose Wave
              </a>
              <a
                href="https://www.unice.com/human-hair/water-wave.html"
                class="navbar_itemContentList-icon"
                title="Water Wave"
              >
                Water Wave
              </a>
              <a
                href="https://www.unice.com/human-hair/kinky-curly-hair.html"
                class="navbar_itemContentList-icon"
                title="Kinky Curly"
              >
                Kinky Curly
              </a>
              <a
                href="https://www.unice.com/human-hair/kinky-straight-hair.html"
                class="navbar_itemContentList-icon"
                title="Kinky Straight"
              >
                Kinky Straight
              </a>
              <a
                href="https://www.unice.com/human-hair/loose-deep-hair.html"
                class="navbar_itemContentList-icon"
                title="Loose Deep"
              >
                Loose Deep
              </a>
              <a
                href="https://www.unice.com/human-hair/super-wave.html"
                class="navbar_itemContentList-icon"
                title="Super Wave"
              >
                Super Wave
              </a>
              <a
                href="https://www.unice.com/human-hair/new-loose-water-wave.html"
                class="navbar_itemContentList-icon"
                title="Loose Water Wave"
              >
                Loose Water Wave
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Color"
              class="navbar_itemContentTitle"
            >
              Color
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/human-hair/ombre-hair.html"
                class="navbar_itemContentList-icon"
                title="Ombre Hair"
              >
                Ombre Hair
              </a>
              <a
                href="https://www.unice.com/human-hair/613-blonde-hair.html"
                class="navbar_itemContentList-icon"
                title="613 Hair "
              >
                613 Hair
              </a>
              <a
                href="https://www.unice.com/human-hair/colored-hair.html"
                class="navbar_itemContentList-icon"
                title="Colored Hair Bundles"
              >
                Colored Hair Bundles
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Hair Bundles"
              class="navbar_itemContentTitle"
            >
              Hair Bundles
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/human-hair/1-bundle-hair.html"
                class="navbar_itemContentList-icon"
                title="1 Bundle"
              >
                1 Bundle
              </a>
              <a
                href="https://www.unice.com/human-hair/3-bundles-hair.html"
                class="navbar_itemContentList-icon"
                title="3 Bundles"
              >
                3 Bundles
              </a>
              <a
                href="https://www.unice.com/human-hair/4-bundles-hair.html"
                class="navbar_itemContentList-icon"
                title="4 Bundles"
              >
                4 Bundles
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar_item navbar_item-2">
      <a
        href="https://www.unice.com/lace-closure-1.html"
        class="navbar_item-link"
        title="Closure &amp; Frontal"
      >
        Closure &amp; Frontal
      </a>
      <div class="navbar_itemContent-wrapper">
        <div class="navbar_itemContent ClosureFrontal flex-row">
          <div class="navbar_itemContent-col">
            <a
              href="https://www.unice.com/lace-closure-1.html"
              title="Hair Weave & Closure"
              class="navbar_itemContentTitle"
            >
              Hair Weave &amp; Closure
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/lace-closure-1/3-bundles-hair-with-closure.html"
                class="navbar_itemContentList-icon"
                title="3 Bundles With Closure"
              >
                3 Bundles With Closure
                <img
                  src="/images/TIM_20190923180249.gif"
                  alt=" 3 Bundles With Closure"
                />
              </a>
              <a
                href="https://www.unice.com/lace-closure-1/4-bundles-hair-with-closure.html"
                class="navbar_itemContentList-icon"
                title="4 Bundles With Closure"
              >
                4 Bundles With Closure
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="https://www.unice.com/lace-closure-1.html"
              title="Texture"
              class="navbar_itemContentTitle"
            >
              Texture
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/lace-closure-1/curly-hair.html"
                class="navbar_itemContentList-icon"
                title="Curly"
              >
                Curly
              </a>
              <a
                href="https://www.unice.com/lace-closure-1/body-wave.html"
                class="navbar_itemContentList-icon"
                title="Body"
              >
                Body <img src="/images/TIM_20190923180249.gif" alt=" Body" />
              </a>
              <a
                href="https://www.unice.com/lace-closure-1/straight-hair.html"
                class="navbar_itemContentList-icon"
                title="Straight"
              >
                Straight
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="https://www.unice.com/lace-closure-1.html"
              title="Type"
              class="navbar_itemContentTitle"
            >
              Type
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/lace-closure-1/brazilian-hair.html"
                class="navbar_itemContentList-icon"
                title="Brazilian"
              >
                Brazilian
              </a>
              <a
                href="https://www.unice.com/lace-closure-1/peruvian-hair.html"
                class="navbar_itemContentList-icon"
                title="Peruvian"
              >
                Peruvian
              </a>
              <a
                href="https://www.unice.com/lace-closure-1/malaysian-hair.html"
                class="navbar_itemContentList-icon"
                title="Malaysian"
              >
                Malaysian
              </a>
              <a
                href="https://www.unice.com/lace-closure-1/indian-hair.html"
                class="navbar_itemContentList-icon"
                title="Indian"
              >
                Indian
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="https://www.unice.com/lace-closure-1/lace-closure.html"
              title="Lace Closure"
              class="navbar_itemContentTitle"
            >
              Lace Closure
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/lace-closure-1/lace-closure.html"
                class="navbar_itemContentList-icon"
                title="4x4 Lace Closure"
              >
                4x4 Lace Closure
              </a>
              <a
                href="https://www.unice.com/lace-closure-1/5x5-lace-closure.html"
                class="navbar_itemContentList-icon"
                title="5x5 HD Lace Closure"
              >
                5x5 HD Lace Closure
                <img src="/images/hot.gif" alt=" 5x5 HD Lace Closure" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar_item navbar_item-3">
      <a
        href="https://www.unice.com/icenu-hair.html"
        class="navbar_item-link"
        title="Icenu"
      >
        Icenu
        <img
          class="navbar_item-icon menu-level1-icon"
          width="40"
          height="35"
          src="/images/virgin.gif"
          alt="Icenu"
        />
      </a>
      <div class="navbar_itemContent-wrapper">
        <div class="navbar_itemContent Icenu flex-row">
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Type"
              class="navbar_itemContentTitle"
            >
              Type
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/icenu-hair/brazilian-hair.html"
                class="navbar_itemContentList-icon"
                title="Brazilian Hair "
              >
                Brazilian Hair
              </a>
              <a
                href="https://www.unice.com/icenu-hair/peruvian-hair.html"
                class="navbar_itemContentList-icon"
                title="Peruvian Hair"
              >
                Peruvian Hair
              </a>
              <a
                href="https://www.unice.com/icenu-hair/malaysian-hair.html"
                class="navbar_itemContentList-icon"
                title="Malaysian Hair"
              >
                Malaysian Hair
              </a>
              <a
                href="https://www.unice.com/icenu-hair/indian-hair.html"
                class="navbar_itemContentList-icon"
                title="Indian Hair"
              >
                Indian Hair
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Texture"
              class="navbar_itemContentTitle"
            >
              Texture
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/icenu-hair/body-wave.html"
                class="navbar_itemContentList-icon"
                title="Body Wave"
              >
                Body Wave
                <img
                  src="/images/TIM_20190923180249_1.gif"
                  alt=" Body Wave"
                />
              </a>
              <a
                href="https://www.unice.com/icenu-hair/curly-hair.html"
                class="navbar_itemContentList-icon"
                title="Jerry Curly"
              >
                Jerry Curly
              </a>
              <a
                href="https://www.unice.com/icenu-hair/straight-hair.html"
                class="navbar_itemContentList-icon"
                title="Straight"
              >
                Straight
              </a>
              <a
                href="https://www.unice.com/icenu-hair/deep-wave.html"
                class="navbar_itemContentList-icon"
                title="Deep Wave"
              >
                Deep Wave
              </a>
              <a
                href="https://www.unice.com/icenu-hair/loose-wave.html"
                class="navbar_itemContentList-icon"
                title="Loose Wave"
              >
                Loose Wave
              </a>
              <a
                href="https://www.unice.com/icenu-hair/natural-wave.html"
                class="navbar_itemContentList-icon"
                title="Natural Wave"
              >
                Natural Wave
              </a>
              <a
                href="https://www.unice.com/icenu-hair/water-wave.html"
                class="navbar_itemContentList-icon"
                title="Water Wave"
              >
                Water Wave
              </a>
              <a
                href="https://www.unice.com/icenu-hair/kinky-curly-hair.html"
                class="navbar_itemContentList-icon"
                title="Kinky Curly"
              >
                Kinky Curly
              </a>
              <a
                href="https://www.unice.com/icenu-hair/kinky-straight-hair.html"
                class="navbar_itemContentList-icon"
                title="Kinky Straight"
              >
                Kinky Straight
              </a>
              <a
                href="https://www.unice.com/icenu-hair/loose-deep-hair.html"
                class="navbar_itemContentList-icon"
                title="Loose Deep"
              >
                Loose Deep
              </a>
              <a
                href="https://www.unice.com/icenu-hair/new-loose-water-wave.html"
                class="navbar_itemContentList-icon"
                title="Loose Water"
              >
                Loose Water
              </a>
              <a
                href="https://www.unice.com/icenu-hair/super-wave.html"
                class="navbar_itemContentList-icon"
                title="Super Wave"
              >
                Super Wave
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Hair Bundles & Closure"
              class="navbar_itemContentTitle"
            >
              Hair Bundles &amp; Closure
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/icenu-hair/1-bundle.html"
                class="navbar_itemContentList-icon"
                title="1 Bundle Hair"
              >
                1 Bundle Hair
              </a>
              <a
                href="https://www.unice.com/icenu-hair/3-bundles.html"
                class="navbar_itemContentList-icon"
                title="3 Bundles Hair"
              >
                3 Bundles Hair
              </a>
              <a
                href="https://www.unice.com/icenu-hair/4-bundles.html"
                class="navbar_itemContentList-icon"
                title="4 Bundles Hair"
              >
                4 Bundles Hair
              </a>
              <a
                href="https://www.unice.com/icenu-hair/3-bundles-with-lace-closure.html"
                class="navbar_itemContentList-icon"
                title="3 Bundles With Lace Closure"
              >
                3 Bundles With Lace Closure
                <img
                  src="/images/TIM_20190923180249.gif"
                  alt=" 3 Bundles With Lace Closure"
                />
              </a>
              <a
                href="https://www.unice.com/icenu-hair/4-bundles-with-lace-closure.html"
                class="navbar_itemContentList-icon"
                title="4 Bundles With Lace Closure"
              >
                4 Bundles With Lace Closure
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="https://www.unice.com/icenu-hair/colored-hair.html"
              title="Color"
              class="navbar_itemContentTitle"
            >
              Color
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/icenu-hair/ombre-hair.html"
                class="navbar_itemContentList-icon"
                title="Ombre"
              >
                Ombre
              </a>
              <a
                href="https://www.unice.com/icenu-hair/613-blonde-hair.html"
                class="navbar_itemContentList-icon"
                title="613 Blonde"
              >
                613 Blonde
              </a>
              <a
                href="https://www.unice.com/icenu-hair/colored-hair.html"
                class="navbar_itemContentList-icon"
                title="Colored Hair Bundles"
              >
                Colored Hair Bundles
                <img src="/images/hot_1.gif" alt=" Colored Hair Bundles" />
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col brand-about">
            <img src="/images/brandic.png" alt=" Icenu" />
            <p class="brand-about_text">
              <br /><span style="color: #e00071"
                >Be who you want, just because you can! - virgin hair
                collection</span
              >
              Don’t settle for ordinary, be extraordinary fashionable
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar_item navbar_item-4">
      <a
        href="https://www.unice.com/banicoo-hair.html"
        class="navbar_item-link"
        title="Banicoo"
      >
        Banicoo
        <img
          class="navbar_item-icon menu-level1-icon"
          width="40"
          height="35"
          src="/images/premium.gif"
          alt="Banicoo"
        />
      </a>
      <div class="navbar_itemContent-wrapper">
        <div class="navbar_itemContent Banicoo flex-row">
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Type"
              class="navbar_itemContentTitle"
            >
              Type
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/banicoo-hair/brazilian-hair.html"
                class="navbar_itemContentList-icon"
                title="Brazilian"
              >
                Brazilian
              </a>
              <a
                href="https://www.unice.com/banicoo-hair/peruvian-hair.html"
                class="navbar_itemContentList-icon"
                title="Peruvian"
              >
                Peruvian
              </a>
              <a
                href="https://www.unice.com/banicoo-hair/indian-hair.html"
                class="navbar_itemContentList-icon"
                title="Indian"
              >
                Indian
              </a>
              <a
                href="https://www.unice.com/banicoo-hair/malaysian-hair.html"
                class="navbar_itemContentList-icon"
                title="Malaysian"
              >
                Malaysian
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Texture"
              class="navbar_itemContentTitle"
            >
              Texture
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/banicoo-hair/straight-hair.html"
                class="navbar_itemContentList-icon"
                title="Straight"
              >
                Straight
              </a>
              <a
                href="https://www.unice.com/banicoo-hair/curly-hair.html"
                class="navbar_itemContentList-icon"
                title="Curly"
              >
                Curly
              </a>
              <a
                href="https://www.unice.com/banicoo-hair/deep-wave.html"
                class="navbar_itemContentList-icon"
                title="Deep Wave"
              >
                Deep Wave
              </a>
              <a
                href="https://www.unice.com/banicoo-hair/loose-wave.html"
                class="navbar_itemContentList-icon"
                title="Loose Wave"
              >
                Loose Wave
              </a>
              <a
                href="https://www.unice.com/banicoo-hair/natural-wave.html"
                class="navbar_itemContentList-icon"
                title="Natural Wave"
              >
                Natural Wave
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Hair Bundles"
              class="navbar_itemContentTitle"
            >
              Hair Bundles
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/banicoo-hair/3-bundles-hair.html"
                class="navbar_itemContentList-icon"
                title="3 Bundles"
              >
                3 Bundles
              </a>
              <a
                href="https://www.unice.com/banicoo-hair/4-bundles-hair.html"
                class="navbar_itemContentList-icon"
                title="4 Bundles"
              >
                4 Bundles
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col brand-about">
            <img src="/images/brandba.png" alt=" Banicoo" />
            <p class="brand-about_text">
              <br /><span style="color: #e8b843"
                >Bring out the elegance within you - premium virgin
                hair</span
              >
              You can be overdressed but never over elegant.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar_item navbar_item-5">
      <a
        href="https://www.unice.com/wig-1.html"
        class="navbar_item-link"
        title="Bettyou "
      >
        Bettyou
        <img
          class="navbar_item-icon menu-level1-icon"
          width="40"
          height="35"
          src="/images/wig.gif"
          alt="Bettyou "
        />
      </a>
      <div class="navbar_itemContent-wrapper">
        <div class="navbar_itemContent ClosureFrontal flex-row">
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Texture"
              class="navbar_itemContentTitle"
            >
              Texture
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/wig-1/curly-hair-wigs.html"
                class="navbar_itemContentList-icon"
                title="Curly Wigs"
              >
                Curly Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/body-wave-wigs.html"
                class="navbar_itemContentList-icon"
                title="Body Wave Wigs"
              >
                Body Wave Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/straight-hair-wigs.html"
                class="navbar_itemContentList-icon"
                title="Straight Hair Wigs"
              >
                Straight Hair Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/water-wave-hair-wigs.html"
                class="navbar_itemContentList-icon"
                title="Water Wave Wigs"
              >
                Water Wave Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/deep-wave-wigs.html"
                class="navbar_itemContentList-icon"
                title="Deep Wave Wigs"
              >
                Deep Wave Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/loose-wave-wigs.html"
                class="navbar_itemContentList-icon"
                title="Loose Wave Wigs"
              >
                Loose Wave Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/kinky-hair-wig.html"
                class="navbar_itemContentList-icon"
                title="Kinky Hair Wigs"
              >
                Kinky Hair Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/natural-wave.html"
                class="navbar_itemContentList-icon"
                title="Natural Wave"
              >
                Natural Wave
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Lace Design"
              class="navbar_itemContentTitle"
            >
              Lace Design
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/wig-1/13x4-lace-frontal-wigs.html"
                class="navbar_itemContentList-icon"
                title="13x4 Lace Front Wigs"
              >
                13x4 Lace Front Wigs
                <img src="/images/Restock.png" alt=" 13x4 Lace Front Wigs" />
              </a>
              <a
                href="https://www.unice.com/wig-1/5x5-hd-lace-wig.html"
                class="navbar_itemContentList-icon"
                title="HD Lace Wigs"
              >
                HD Lace Wigs
                <img src="/images/small-hot.gif" alt=" HD Lace Wigs" />
              </a>
              <a
                href="https://www.unice.com/wig-1/headband-wigs.html"
                class="navbar_itemContentList-icon"
                title="Headband Wigs"
              >
                Headband Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/lace-part-wig.html"
                class="navbar_itemContentList-icon"
                title="Lace Part Wigs"
              >
                Lace Part Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/13x6-lace-frontal-wigs.html"
                class="navbar_itemContentList-icon"
                title="13x6 Lace Front Wigs"
              >
                13x6 Lace Front Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/classic-lace-wigs.html"
                class="navbar_itemContentList-icon"
                title="Wear and Go Wigs"
              >
                Wear and Go Wigs
                <img src="/images/2mins.gif" alt=" Wear and Go Wigs" />
              </a>
              <a
                href="https://www.unice.com/wig-1/u-part-wig.html"
                class="navbar_itemContentList-icon"
                title="U Part Wig‎s"
              >
                U Part Wig‎s
              </a>
              <a
                href="https://www.unice.com/wig-1/13x5-lace-frontal-wigs.html"
                class="navbar_itemContentList-icon"
                title="13x5 Lace Front T-Part Wigs"
              >
                13x5 Lace Front T-Part Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/fake-scalp-wig.html"
                class="navbar_itemContentList-icon"
                title="Fake Scalp Wigs"
              >
                Fake Scalp Wigs
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Hair Length"
              class="navbar_itemContentTitle"
            >
              Hair Length
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/wig-1/short-human-hair-wigs.html"
                class="navbar_itemContentList-icon"
                title="Short Wigs"
              >
                Short Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/mid-length-human-hair-wigs.html"
                class="navbar_itemContentList-icon"
                title="Mid Length Wigs"
              >
                Mid Length Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/long-human-hair-wigs.html"
                class="navbar_itemContentList-icon"
                title="Long Wigs  "
              >
                Long Wigs
                <img src="/images/hot_2_1.gif" alt=" Long Wigs  " />
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="https://www.unice.com/wig-1/color-wigs.html"
              title="Color"
              class="navbar_itemContentTitle"
            >
              Color
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/wig-1/color-wigs/honey-blonde-wigs.html"
                class="navbar_itemContentList-icon"
                title="Honey Blonde Wigs"
              >
                Honey Blonde Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/613-hair-wigs.html"
                class="navbar_itemContentList-icon"
                title="613 Blonde Wigs"
              >
                613 Blonde Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/colored-hair-wigs.html"
                class="navbar_itemContentList-icon"
                title="Edgy Color Wigs"
              >
                Edgy Color Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/highlight-hair-wigs.html"
                class="navbar_itemContentList-icon"
                title="Highlight  Wigs"
              >
                Highlight Wigs
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Hair Style"
              class="navbar_itemContentTitle"
            >
              Hair Style
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/wig-1/bob-wig.html"
                class="navbar_itemContentList-icon"
                title="Bob Wigs"
              >
                Bob Wigs
              </a>
              <a
                href="https://www.unice.com/wig-1/cap-wigs.html"
                class="navbar_itemContentList-icon"
                title="Cap Wigs"
              >
                Cap Wigs
              </a>
              <a
                href="https://www.unice.com/wigs-with-bangs"
                class="navbar_itemContentList-icon"
                title="Wig With Bangs"
              >
                Wig With Bangs
              </a>
              <a
                href="https://www.unice.com/wig-1/celebrity-wigs.html"
                class="navbar_itemContentList-icon"
                title="Celebrity Wigs"
              >
                Celebrity Wigs
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="Hair Density"
              class="navbar_itemContentTitle"
            >
              Hair Density
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/wig-1/130-density.html"
                class="navbar_itemContentList-icon"
                title="130% Density"
              >
                130% Density
              </a>
              <a
                href="https://www.unice.com/wig-1/150-density.html"
                class="navbar_itemContentList-icon"
                title="150% Density"
              >
                150% Density
              </a>
              <a
                href="https://www.unice.com/wig-1/180-density.html"
                class="navbar_itemContentList-icon"
                title="180% Density"
              >
                180% Density
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col">
            <a
              href="javascript:;"
              title="UNice NEW "
              class="navbar_itemContentTitle"
            >
              UNice NEW
            </a>
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/wig-1/new-arrive-wig.html"
                class="navbar_itemContentList-icon"
                title="New Arrivals"
              >
                New Arrivals
              </a>
              <a
                href="https://www.unice.com/wig-1/sufficient-fast-shipping-wig.html"
                class="navbar_itemContentList-icon"
                title="Sufficient Wigs"
              >
                Sufficient Wigs
              </a>
            </div>
          </div>
          <div class="navbar_itemContent-col brand-about">
            <img src="/images/brandbt.png" alt=" Bettyou " />
            <p class="brand-about_text">
              <span style="color: #02c7f1"
                >Be your own stylist, Be different! - UNice
                <a href="https://www.unice.com/wig-1.html">
                  human hair wigs</a
                >
              </span>
              Delivers styles without compromise to complete the perfect
              you.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar_item navbar_item-6">
      <a
        href="https://www.unice.com/new-arrive.html"
        class="navbar_item-link"
        title="UNice New"
      >
        UNice New
        <img
          class="navbar_item-icon navbar_item-icon--test"
          width="40"
          height="35"
          src="/images/touming.png"
          alt="UNice New"
        />
      </a>
    </div>
    <div class="navbar_item navbar_item-7 navbar_item--relative">
      <a
        href="https://www.unice.com/promotion.html"
        class="navbar_item-link"
        title="Promotion"
      >
        Promotion
        <img
          class="navbar_item-icon hot-img"
          width="40"
          height="35"
          src="/images/hot_2.gif"
          alt="Promotion"
        />
      </a>
      <div class="navbar_itemContent-wrapper">
        <div
          class="
            navbar_itemContent
            navbar-main_promotion
            HairExtensions
            flex-row
          "
        >
          <div class="navbar_itemContent-col">
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/appproduct"
                class="iconfont icon-pagination-next"
                title=" Save More on APP "
              >
                Save More on APP
              </a>
              <a
                href="https://www.unice.com/top-picks.html"
                class="iconfont icon-pagination-next"
                title=" Buy 1 Get 1 40% OFF"
              >
                Buy 1 Get 1 40% OFF
              </a>
              <a
                href="https://www.unice.com/clearance-sales.html"
                class="iconfont icon-pagination-next"
                title=" Clearance Sale"
              >
                Clearance Sale
              </a>
              <a
                href="https://www.unice.com/groupbuy"
                class="iconfont icon-pagination-next"
                title=" Group Buy"
              >
                Group Buy
              </a>
              <a
                href="https://www.unice.com/accessories.html"
                class="iconfont icon-pagination-next"
                title=" Accessories"
              >
                Accessories
              </a>
              <a
                href="https://www.unice.com/wig-1/sufficient-fast-shipping-wig.html"
                class="iconfont icon-pagination-next"
                title=" Sufficient Wigs"
              >
                Sufficient Wigs
              </a>
              <a
                href="https://www.unice.com/hair-extensions.html"
                class="iconfont icon-pagination-next"
                title=" Hair Extensions"
              >
                Hair Extensions
              </a>
              <a
                href="https://www.unice.com/zhannei-page/fr-in-stock.html"
                class="iconfont icon-pagination-next"
                title=" Europe Fast Shipping Hair"
              >
                Europe Fast Shipping Hair
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar_item navbar_item-8 navbar_item--relative">
      <a
        href="javascript:;"
        class="navbar_item-link"
        title="Shop By Moments"
      >
        Shop By Moments
      </a>
      <div class="navbar_itemContent-wrapper">
        <div
          class="
            navbar_itemContent
            navbar-main_shopbymoments
            HairExtensions
            flex-row
          "
        >
          <div class="navbar_itemContent-col">
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/wedding-hairstyles"
                class="iconfont icon-pagination-next"
                title="  Perfect Wedding"
              >
                Perfect Wedding
              </a>
              <a
                href="https://www.unice.com/birthday-gift-hair"
                class="iconfont icon-pagination-next"
                title=" Happy Birthday"
              >
                Happy Birthday
              </a>
              <a
                href="https://www.unice.com/working-hairstyles.html"
                class="iconfont icon-pagination-next"
                title=" Confident At Work"
              >
                Confident At Work
              </a>
              <a
                href="https://www.unice.com/graduation-hairstyles.html"
                class="iconfont icon-pagination-next"
                title=" Proud Graduation"
              >
                Proud Graduation
              </a>
              <a
                href="https://www.unice.com/beach-hairstyles.html"
                class="iconfont icon-pagination-next"
                title=" Dream Beach Holiday"
              >
                Dream Beach Holiday
              </a>
              <a
                href="https://www.unice.com/dog-walking-hairstyles.html"
                class="iconfont icon-pagination-next"
                title=" Relax Dog Walking"
              >
                Relax Dog Walking
              </a>
              <a
                href="https://www.unice.com/hairstyles-for-school.html"
                class="iconfont icon-pagination-next"
                title=" Fabulous School Days"
              >
                Fabulous School Days
              </a>
              <a
                href="https://www.unice.com/workout-hairstyles.html"
                class="iconfont icon-pagination-next"
                title=" Nicer Workout"
              >
                Nicer Workout
              </a>
              <a
                href="https://www.unice.com/shopout-hairstyles.html"
                class="iconfont icon-pagination-next"
                title=" Fashion Shopout"
              >
                Fashion Shopout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar_item navbar_item-9 navbar_item--relative">
      <a
        href="https://www.unice.com/customer-video-review"
        class="navbar_item-link"
        title="Shop By Look"
      >
        Shop By Look
      </a>
      <div class="navbar_itemContent-wrapper">
        <div
          class="
            navbar_itemContent
            navbar-main_shopbylook
            HairExtensions
            flex-row
          "
        >
          <div class="navbar_itemContent-col">
            <div class="navbar_itemContentList flex-column">
              <a
                href="https://www.unice.com/celebrity-hair.html"
                class="iconfont icon-pagination-next"
                title=" Celebrity Hair"
              >
                Celebrity Hair
              </a>
              <a
                href="https://www.unice.com/customer-video-review"
                class="iconfont icon-pagination-next"
                title=" Customer Video"
              >
                Customer Video
              </a>
              <a
                href="https://www.unice.com/customer-photo-gallery"
                class="iconfont icon-pagination-next"
                title=" Customer Photo Gallery"
              >
                Customer Photo Gallery
              </a>
              <a
                href="https://www.unice.com/customerreview"
                class="iconfont icon-pagination-next"
                title=" Customer Review"
              >
                Customer Review
              </a>
              <a
                href="https://www.unice.com/tryon"
                class="iconfont icon-pagination-next"
                title=" Try On"
              >
                Try On
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar_itemContent-background" style="height: 0px"></div>

    <!-- <label class="search-form_icon  iconfont icon-sousuo1 mainC show">
</label> -->
    <form
      id="search-form"
      class="search-form"
      action="https://www.unice.com/catalogsearch/result/"
      method="get"
    >
      <div class="search-form_group">
        <label style="display: none" for="search">Search</label
        ><input
          class="search-form_input"
          id="search"
          maxlength="128"
          name="q"
          type="text"
          value
        />
        <button
          class="button search-form_submit iconfont icon-sousuo1"
          id="search_button"
          title="Search"
          type="button"
        ></button>
      </div>
      <div class="nav_searchHistory" id="nav_searchHistory">
        <div class="nav_searchHistory-title">
          Search History
          <span class="nav_searchHistory-clear float-r">Clear</span>
        </div>
        <div class="nav_searchHistory-words"></div>
        <div class="nav_searchHistory-title">Hot Search</div>
        <div class="nav_searchHistory-hotwords">
          <a class="nav_searchHistory-word" href="/wig-1/headband-wigs.html"
            ><span class="nav_searchHistory-icon"></span> Headband Wig</a
          >
          <a class="nav_searchHistory-word" href="/wig-1.html"
            ><span class="nav_searchHistory-icon"></span> Wigs&nbsp;</a
          >
          <a
            class="nav_searchHistory-word"
            href="/human-hair/3-bundles-hair.html"
            ><span class="nav_searchHistory-icon"></span> 3 Bundles Hair</a
          >
          <a class="nav_searchHistory-word" href="/wig-1/lace-part-wig.html"
            ><span class="nav_searchHistory-icon"></span> Closure Wig</a
          >
          <a class="nav_searchHistory-word" href="/wig-1/u-part-wig.html"
            ><span class="nav_searchHistory-icon"></span> U Part Wig</a
          >
          <a
            class="nav_searchHistory-word"
            href="/wig-1/5x5-hd-lace-wig.html"
            ><span class="nav_searchHistory-icon"></span>HD lace wig</a
          >
          <a class="nav_searchHistory-word" href="/wig-1/613-hair-wigs.html"
            ><span class="nav_searchHistory-icon"></span>613 Blond Wig</a
          >
        </div>
        <div class="nav_searchHistory-hotwords"></div>
      </div>
      <div
        class="nav_search-autocomplete"
        id="nav_search-autocomplete"
      ></div>
    </form>
  </div>
  <a
    class="header-logo--left img-block"
    href="https://www.unice.com/"
    title="Unice Human Hair-A Natural Extension of U"
    alt="Unice Human Hair-A Natural Extension of U"
  >
    <img
      data-retina="true"
      src="/images/unice-logo.png"
      alt="Unice Human Hair-A Natural Extension of U"
    />
  </a>
</header>