<button type="button" id="back-top" class="back-top iconfont icon-top">
  .
  <img src="images/mouse.png" alt />
</button>
<div class="right-bar">
  <a
    class="right-bar_link right-bar_link--gift"
    href="JavaScript:;"
    title="coupon"
    style="display: none"
  >
    <i class="spirit-bg"></i>
  </a>

  <a
    class="right-bar_link right-bar_link--show"
    href="https://www.unice.com/customer-video-review"
    title="video"
  >
    <i class="spirit-bg"></i>
  </a>
  <div class="right-bar_link right-bar_link--app">
    <a
      href="https://www.unice.com/appdownload.html"
      class="spirit-bg"
      title="App DownLoad"
    ></a>
    <div class="rightBar-app">
      <h3 class="rightBar-app_head">APP</h3>
      <p class="rightBar-app_enjoy">DOWNLOAD TO ENJOY</p>
      <h2 class="rightBar-app_title">UNICE APP</h2>
      <h4 class="rightBar-app_price">EXTRA $3 OFF</h4>
      <div class="rightBar-app_con">
        <img
          class="rightBar-app_img"
          src="images/appdownlozad-code3.png"
          alt="UNice App"
        />
        <div class="rightBar-app_download">
          <a
            class="rightBar-app_item rightBar-app_android"
            href="/public/app/download?utm_source=unice&utm_medium=qrlink&utm_campaign=qrcode&device=android"
          >
            Android
          </a>
          <a
            class="rightBar-app_item rightBar-app_iphone"
            href="/public/app/download?utm_source=unice&utm_medium=qrlink&utm_campaign=qrcode&device=ios"
          >
            iPhone
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="right-bar_link right-bar_link_huanfu">
    <img class="svg" src="images/huanfu.png" alt="huanfu" />
    <span class="toggle_text">Toggle High Contrast</span>
  </div>

  <div class="window-cover_close"></div>
</div>