<main class="main">
  <div class="login container">

    <%- include('./components/messages'); -%>
    <%- include('./components/auth-title'); %>

    <div class="clearfix">
      <div class="login-left">
        <h2 class="legend a-center">Registered Customers</h2>
        <form id="login-form" class="login-form" action="/auth/login" method="POST">
          <div class="clearfix">
            <div class="input-box">
              <input
                title="Email Address"
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Email"
                value="<%= typeof email !== 'undefined' ? email : ''  %>"
                onkeyup="this.value=this.value.replace(/\s+/g,'')"
              />
            </div>
            <div class="input-box">
              <input
                autocomplete="off"
                title="Password"
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Password"
                value="<%= typeof password !== 'undefined' ? password : ''  %>"
              />
            </div>
          </div>
          <div class="buttons-set a-center">
            <button class="login-submit button" type="submit">Log In</button>
            <p><a class="a-hover" href="https://www.unice.com/customer/account/forgotpassword/" title="Forgot Your Password?">Forgot Your Password?</a></p>
          </div>
        </form>
      </div>
      <div class="login-right">
        <div class="oldlogin a-center">
          <h2>New To UNice？</h2>
          <p>Creating an account. It's fast and safe!</p>
          <a class="login-btn button" href="/auth/register">Create an Account</a>
        </div>
      </div>
    </div>
  </div>
</main>
