<div class="banner">
  <div class="banner-container">
    <ul class="swiper-wrapper banner-slider">
      <% banners.forEach((banner) => { %>
        <%- include('./banner-item', { banner }) %>
      <% }) %>
    </ul>

    <div class="slick-container">
      <!-- <span class="swiper-pagination-switch"></span> -->
      <!-- <span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span> -->
    </div>

    <div class="swiper-button-prev banner-slider-prev iconfont icon-pagination-prev"></div>
    <div class="swiper-button-next banner-slider-next iconfont icon-pagination-next"></div>
  </div>
</div>