<div class="header-newsline_currency">
  <a
    href="javascript:;"
    class="header-newsline_dropdown-toggle header-newsline_currency-btn"
    title="Currency"
    rel="nofollow"
    >$USD</a
  >
  <span
    class="header-newsline_dropdown-toggle iconfont icon-xiangxia"
  ></span>
  <div
    class="header-newsline_dropdown-menu header-newsline_currency-list"
    style="display: none"
  >
    <a
      class="header-newsline_price-opt spirit-bg header-newsline_USD"
      href="https://www.unice.com/directory/currency/switch/currency/USD/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
      title="US Dollar"
      rel="nofollow"
    >
      USD
    </a>
    <a
      class="header-newsline_price-opt spirit-bg header-newsline_GBP"
      href="https://www.unice.com/directory/currency/switch/currency/GBP/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
      title="British Pound Sterling"
      rel="nofollow"
    >
      GBP
    </a>
    <a
      class="header-newsline_price-opt spirit-bg header-newsline_CAD"
      href="https://www.unice.com/directory/currency/switch/currency/CAD/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
      title="Canadian Dollar"
      rel="nofollow"
    >
      CAD
    </a>
    <a
      class="header-newsline_price-opt spirit-bg header-newsline_EUR"
      href="https://www.unice.com/directory/currency/switch/currency/EUR/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
      title="Euro"
      rel="nofollow"
    >
      EUR
    </a>
    <a
      class="header-newsline_price-opt spirit-bg header-newsline_AUD"
      href="https://www.unice.com/directory/currency/switch/currency/AUD/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
      title="Australian Dollar"
      rel="nofollow"
    >
      AUD
    </a>
    <a
      class="header-newsline_price-opt spirit-bg header-newsline_ZAR"
      href="https://www.unice.com/directory/currency/switch/currency/ZAR/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
      title="South African Rand"
      rel="nofollow"
    >
      ZAR
    </a>
    <a
      class="header-newsline_price-opt spirit-bg header-newsline_NGN"
      href="https://www.unice.com/directory/currency/switch/currency/NGN/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
      title="Nigerian Naira"
      rel="nofollow"
    >
      NGN
    </a>
    <a
      class="header-newsline_price-opt spirit-bg header-newsline_AED"
      href="https://www.unice.com/directory/currency/switch/currency/AED/uenc/aHR0cHM6Ly93d3cudW5pY2UuY29tLw,,/"
      title="United Arab Emirates Dirham"
      rel="nofollow"
    >
      AED
    </a>
  </div>
</div>