<footer class="footer">
  <link rel="stylesheet" href="css/css.css" />

  <div class="footer-wrapper">
    <div class="container flex-row">
      <div class="footer-list flex-column">
        <h3 class="footer-list_title">PHYSICAL STORE</h3>
        <p
          title="UNice| CA 6000 Sepulveda Blvd., Suite # 2640 Culver City, CA 90230"
          class="footer-list_store"
        >
          UNice| CA 6000 Sepulveda Blvd., Suite # 2640 Culver City, CA 90230
        </p>
        <p title="UNice| 962" class="footer-list_store">
          UNice| 962 Flatbush Ave Brooklyn, NY 11226 (b/t Albemarle Rd &amp;
          Snyder Ave Flatbush)
        </p>
        <p title=" UNice| Carson" class="footer-list_store">
          UNice| Carson CA 20220 S Avalon Blvd, Ste A Carson, CA 90746
        </p>
        <p title=" UNice| 1538" class="footer-list_store">
          UNice| 1538 Flatbush Ave Ground Floor, Brooklyn, NY 11210
        </p>
      </div>
      <div class="footer-list flex-column">
        <h3 class="footer-list_title">INFORMATION</h3>
        <a
          title="ABOUT US"
          class="footer-list_item"
          href="https://www.unice.com/about-us"
          rel="nofollow"
          >ABOUT US</a
        >
        <a
          title="Privacy Policy"
          class="footer-list_item"
          href="https://www.unice.com/privacy-policy"
          rel="nofollow"
          >Privacy Policy</a
        >
        <a
          title="Terms Of Usage"
          class="footer-list_item"
          href="https://www.unice.com/terms-and-conditions"
          rel="nofollow"
          >Terms Of Usage</a
        >

        <a
          title="Accessibility"
          class="footer-list_item"
          href="https://www.unice.com/accessibility"
          rel="nofollow"
          >Accessibility</a
        >
        <a
          title="FASHION BLOG"
          class="footer-list_item"
          href="https://www.unice.com/blog/"
          >FASHION BLOG</a
        >
        <a
          title="BEAUTY BAR"
          class="footer-list_item"
          href="https://www.unice.com/retail-stores"
          rel="nofollow"
          >RETAIL STORES</a
        >
        <a
          title="Safety and Quality"
          class="footer-list_item"
          href="https://www.unice.com/safety-and-quality"
          rel="nofollow"
          >Safety and Quality</a
        >
        <a
          title="SITE MAP"
          class="footer-list_item"
          href="https://www.unice.com/site-map"
          rel="nofollow"
          >SITE MAP</a
        >
      </div>
      <div class="footer-list flex-column">
        <h3 class="footer-list_title">HELP & SUPPORT</h3>
        <a
          title="HOW tO"
          class="footer-list_item"
          href="https://www.unice.com/howto"
          rel="nofollow"
          >HOW tO</a
        >
        <a
          title="Shipment & Payment"
          class="footer-list_item"
          href="https://www.unice.com/shipment-payment"
          rel="nofollow"
          >SHIPMENT & PAYMENT</a
        >
        <a
          title="Return Policy"
          class="footer-list_item"
          href="https://www.unice.com/return-policy"
          rel="nofollow"
          >RETURN POLICY</a
        >
        <a
          title="Track Order"
          class="footer-list_item"
          href="https://www.unice.com/track-order"
          rel="nofollow"
          >TRACK ORDER</a
        >
        <a
          title="Faq"
          class="footer-list_item"
          href="https://www.unice.com/faq"
          rel="nofollow"
          >FAQ</a
        >
        <a
          title="FREE HAIR & CASH REWARD"
          class="footer-list_item"
          href="https://www.unice.com/how-to-get-free-hair-and-cash-reward"
          rel="nofollow"
          >FREE HAIR & CASH REWARD</a
        >
      </div>
      <div class="footer-list flex-column">
        <h3 class="footer-list_title">CUSTOMER CARE</h3>
        <a title="Coupon" class="footer-list_item" href="/member/index"
          >Member Center</a
        >
        <a
          title="Wholesale"
          class="footer-list_item"
          href="https://www.unice.com/member/plus/index/"
          >Plus Vip</a
        >
        <a
          title="Coupon"
          class="footer-list_item"
          href="http://www.unice.com/unice-hair-coupon-code"
          >COUPON</a
        >
        <a
          title="Wholesale"
          class="footer-list_item"
          href="https://www.unice.com/wholesale/"
          >WHOLESALE</a
        >
        <a
          title="My Account"
          class="footer-list_item"
          href="https://www.unice.com/customer/account/login/"
          rel="nofollow"
          >MY ACCOUNT</a
        >
        <a
          title="AFFILIATE"
          class="footer-list_item"
          href="https://www.unice.com/unice-hair-promoter"
          rel="nofollow"
          >AFFILIATE
        </a>
        <a
          title="AFFILIATE"
          class="footer-list_item"
          href="https://www.unice.com/unice-hair-stylist-arrange"
          rel="nofollow"
          >Find Hairstylist</a
        >
        <a
          title="Contact Us"
          class="footer-list_item"
          href="https://www.unice.com/contact-us"
          rel="nofollow"
          >CONTACT US</a
        >
      </div>
      <div class="footer-list flex-column findus">
        <h3 class="footer-list_title">FIND US</h3>
        <div class="clearfix">
          <a
            class="footer-list_icon"
            href="https://www.facebook.com/UNiceMall"
            title="facebook"
            rel="nofollow"
          >
            <i class="spirit-bg footer-list_icon-facebook"></i>
          </a>
          <a
            class="footer-list_icon"
            href="https://www.youtube.com/c/UniceHair"
            title="youtube"
            rel="nofollow"
          >
            <i class="spirit-bg footer-list_icon-youtube"></i>
          </a>
          <a
            class="footer-list_icon"
            href="https://instagram.com/unicehair/"
            title="instagram"
            rel="nofollow"
          >
            <i class="spirit-bg footer-list_icon-ins"></i>
          </a>
          <a
            class="footer-list_icon"
            href="https://www.tiktok.com/@unice.hair"
            title="tiktok"
            rel="nofollow"
          >
            <i class="iconfont icon-icon-tiktok"></i>
          </a>
          <a
            class="footer-list_icon"
            href="https://twitter.com/unicehair"
            title="twitter"
            rel="nofollow"
          >
            <i class="spirit-bg footer-list_icon-twitter"></i>
          </a>
          <a
            class="footer-list_icon"
            href="https://www.pinterest.com/unicecom/"
            title="pinterest"
            rel="nofollow"
          >
            <i class="spirit-bg footer-list_icon-pinterest"></i>
          </a>
          <a
            class="footer-list_icon"
            href="https://www.yelp.com/biz/unice-hair-culver-city-5"
            title="yelp"
            rel="nofollow"
          >
            <i class="spirit-bg footer-list_icon-yelp"></i>
          </a>
          <p class="footer-appDown_tit">
            APP <span class="footer-appDown_off">Cut extra $3 Off</span>
          </p>
          <a
            class="footer-list_icon footer-appDown_icon"
            href="https://play.google.com/store/apps/details?id=com.unice.longqihair&hl=en"
            title="yelp"
            rel="nofollow"
          >
            <span class="iconfont icon-android"></span>
          </a>
          <a
            class="footer-list_icon footer-appDown_icon"
            href="https://apps.apple.com/us/app/unice/id1508261549"
            title="yelp"
            rel="nofollow"
          >
            <span class="iconfont icon-iphone"></span>
          </a>
        </div>
      </div>
      <div class="footer-list flex-column">
        <h3 class="footer-list_title">Customer Service Support</h3>

        <a
          href="/whatsappcoupon"
          title="whatsappcoupon"
          class="spirit-bg footer-list_phone"
        >
          Whatsapp <span class="mainC">(save money)</span><br /><br />
          +86 176 3690 2910 <br /><br />
          Whatsapp <span class="mainC">(earn money)</span><br /><br />
          +1 626 782 4321
        </a>
        <a
          href="mailto:support@unice.com"
          class="spirit-bg footer-list_email"
          >support@unice.com</a
        >
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <img
      class="lozad"
      alt="Payment and Transport Methods"
      data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/footer_pay_method.jpg"
    />
    <p>
      &copy; 2015-2021 <a href="https://www.unice.com/">UNice</a> All Rights
      Reserved.
    </p>
  </div>
</footer>