.product-swiper-wrapper {
  width: 100%;
}

.product-swiper-slide {
  float: none;
}

.product-sticky-pointer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
}

.product-sticky-view {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
